*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
!/Java/lib/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Modelio Files
/UML/project.conf
/UML/.runtime
/UML/data/.config
/UML/data/localmodel
/UML/data/**/.index

# compile files
/Java/bin/
/Java/src/bombinsa.xml

# game generated
/Java/settings.json
/Java/*.map

